<main id="main" class="main" style="opacity: 1; transform: none;">
    <div class="row">
        <div class="subpage-header background-image-loading start-bg-center type-image bg-primary" style="background-image: url(https://www.swensensicecream.com/wp-content/uploads/2022/05/American-Favorite-Ice-Cream-2.jpg)" data-src="<380:https://www.swensensicecream.com/wp-content/uploads/2022/05/American-Favorite-Ice-Cream-2-380x300.jpg,<500:https://www.swensensicecream.com/wp-content/uploads/2022/05/American-Favorite-Ice-Cream-2-500x300.jpg,<768:https://www.swensensicecream.com/wp-content/uploads/2022/05/American-Favorite-Ice-Cream-2-768x431.jpg,<992:https://www.swensensicecream.com/wp-content/uploads/2022/05/American-Favorite-Ice-Cream-2-992x431.jpg,<1200:https://www.swensensicecream.com/wp-content/uploads/2022/05/American-Favorite-Ice-Cream-2-1200x431.jpg,>1200:https://www.swensensicecream.com/wp-content/uploads/2022/05/American-Favorite-Ice-Cream-2.jpg">
            <div class="subpage-header-overlay none"></div>
            <div class="subpage-header-content">
                <h1>
                    Franchise
                </h1>
            </div>
            <div class="loading-color-overlay" style="display: none;"></div>
        </div>
    </div>
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div class="row   ">
                        <div class="bg-overlay none"></div>
                        <div class="container container-narrow">
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="wpb_text_column wpb_content_element ">
                                                <div class="wpb_wrapper">
                                                    <h3>Get your scoop!</h3>
                                                    <p>Swensen’s® is accepting applicants for franchisees and master franchisees who are passionate about building a business, developing teams, and delivering superior hospitality to our guests each and every day.</p>
                                                    <p>There are two distinct concepts to choose from: Swensen’s® grill and ice cream or a traditional Swensen’s® ice cream parlour, from full service to quick service kiosk format allowing for flexibility based on market demand and opportunity.</p>
                                                    <p>Our Mission is to create memories and share happiness through extraordinary ice cream and food experience at a place where happiness never melts™.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div class="row bg-light  ">
                        <div class="bg-overlay none"></div>
                        <div class="container container-narrow">

                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <h2 class="textbox" dir="ltr">What is the Next Step?</h2>
                                    <p class="textbox" dir="ltr">Thank you for your interest.&nbsp; Select the appropriate inquiry form below to get started.</p>

                                </div>
                            </div>
                            <div class="vc_empty_space" style="height: 45px"><span class="vc_empty_space_inner"></span></div>
                            <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="text-center">
                                                <a href="https://swensensicecream.com/canada-franchise/" target="" class="general-button btn btn-primary " title="CANADA FRANCHISE">
                                                    CANADA FRANCHISE
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="text-left">
                                                <a href="https://swensensicecream.com/international-franchise-2/" target=" _blank" class="general-button btn btn-primary " title="INTERNATIONAL FRANCHISE">
                                                    INTERNATIONAL FRANCHISE
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="vc_empty_space" style="height: 45px"><span class="vc_empty_space_inner"></span></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <div class="row   ">
                        <div class="bg-overlay none"></div>
                        <div class="container container-narrow">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>