USE [TTCD1_QLBH]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 11/3/2024 9:07:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MA_KH] [int] NOT NULL,
	[HO_TEN] [nvarchar](50) NULL,
	[TAI_KHOAN] [varchar](50) NULL,
	[MAT_KHAU] [varchar](50) NULL,
	[DIEN_THOAI] [char](10) NULL,
	[EMAIL] [char](50) NULL,
	[GIOI_TINH] [bit] NULL,
	[TRANG_THAI] [bit] NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_SAN_PHAM]    Script Date: 11/3/2024 9:07:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_SAN_PHAM](
	[MA_LSP] [int] NOT NULL,
	[TEN_LOAI] [nvarchar](50) NULL,
	[TRANG_THAI] [bit] NULL,
 CONSTRAINT [PK_LOAI_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MA_LSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUAN_TRI]    Script Date: 11/3/2024 9:07:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUAN_TRI](
	[TAI_KHOAN] [char](50) NOT NULL,
	[MAT_KHAU] [char](32) NULL,
	[TRANG_THAI] [bit] NULL,
 CONSTRAINT [PK_QUAN_TRI] PRIMARY KEY CLUSTERED 
(
	[TAI_KHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 11/3/2024 9:07:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MA_SP] [int] NOT NULL,
	[TEN_SP] [nvarchar](200) NULL,
	[MO_TA] [nvarchar](250) NULL,
	[GIA] [float] NULL,
	[MA_LSP] [int] NULL,
	[HINH_ANH] [varchar](100) NULL,
	[TRANG_THAI] [bit] NULL,
 CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIN_TUC]    Script Date: 11/3/2024 9:07:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIN_TUC](
	[MA_TT] [int] NOT NULL,
	[TIEU_DE] [nvarchar](250) NULL,
	[NOI_DUNG] [nvarchar](250) NULL,
 CONSTRAINT [PK_TIN_TUC] PRIMARY KEY CLUSTERED 
(
	[MA_TT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KHACH_HANG] ([MA_KH], [HO_TEN], [TAI_KHOAN], [MAT_KHAU], [DIEN_THOAI], [EMAIL], [GIOI_TINH], [TRANG_THAI]) VALUES (1, N'Phan Trường Anh', N'anhnganh04', N'123456', N'0333814312', N'anhnnganh04@gmail.com                             ', 1, 1)
GO
INSERT [dbo].[LOAI_SAN_PHAM] ([MA_LSP], [TEN_LOAI], [TRANG_THAI]) VALUES (1, N'Bánh mì', 1)
INSERT [dbo].[LOAI_SAN_PHAM] ([MA_LSP], [TEN_LOAI], [TRANG_THAI]) VALUES (2, N'Đồ ngọt', 1)
INSERT [dbo].[LOAI_SAN_PHAM] ([MA_LSP], [TEN_LOAI], [TRANG_THAI]) VALUES (3, N'Đồ uống', 0)
GO
INSERT [dbo].[SAN_PHAM] ([MA_SP], [TEN_SP], [MO_TA], [GIA], [MA_LSP], [HINH_ANH], [TRANG_THAI]) VALUES (1, N'ehehe', N'cafe đen đá', 233, 1, N'/Content/Images/cf h?nh nhân.webp', 1)
INSERT [dbo].[SAN_PHAM] ([MA_SP], [TEN_SP], [MO_TA], [GIA], [MA_LSP], [HINH_ANH], [TRANG_THAI]) VALUES (2, N'ehehe', N'cafe đen đá', 233, 1, N'/Content/Images/12.jpg', 1)
INSERT [dbo].[SAN_PHAM] ([MA_SP], [TEN_SP], [MO_TA], [GIA], [MA_LSP], [HINH_ANH], [TRANG_THAI]) VALUES (12, N'ehehe', N'cafe đen đá', 233, 3, N'/Content/Images/12.jpg', 1)
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_LOAI_SAN_PHAM] FOREIGN KEY([MA_LSP])
REFERENCES [dbo].[LOAI_SAN_PHAM] ([MA_LSP])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_LOAI_SAN_PHAM]
GO
