<div class="content-container">
    <div class="content">
        <h2 class="content-title">Welcome to Swensen’s</h2>
        <p class="content-desc">
            Swensen’s is synonymous with sweet celebrations enjoyed together with loved ones for all occasions. A delectable tradition treasured by families.
            We are Singapore’s Family Restaurant of Choice, championing bonding over food, serving families & ice cream cakes since 1979.<br />

            Hundreds of ice cream flavors have been created and enjoyed by both young and old, making Earle Swensen “America’s Ice Cream Man”. Ice cream lovers certainly agreed because today, there are over 200 Swensen’s ice cream outlets all over the world including Asia, the Middle East, USA and South America.<br />

            Swensen’s came to Singapore in 1979, and won the hearts of many with delicious ice cream sundaes in a warm, unpretentious ambience and a casual atmosphere. Friends and family meet in the cozy and comfortable booth seats with trademark tiffany lamps for relaxing meals or to celebrate special occasions.<br />

            Swensen’s has developed over the years to become a restaurant chain offering not only ice cream, but fun and friendly casual-dining with a wide selection of hearty food, desserts, beverages, ice cream cakes and takeaway novelties.<br />

            Now a household name in Singapore, Swensen’s is synonymous with sweet memories of good time spent with loved ones. Since the opening of the first 200-seater restaurant at Thomson Plaza in 1979, Swensen’s has expanded to over 20 full-service restaurants serving an all-day menu of food and ice cream sundaes, and continues to bring people together for hearty meals and shared memories.
        </p>

    </div>
    <div class="content-img">
        <div class="content-img__container">
            <img src="~/Content/asset/image/gt1.jpg" alt="" class="content-img__intro">
        </div>
        <div class="content-img__container">
            <img src="~/Content/asset/image/gt2.jpg" alt="" class="content-img__intro">
        </div>
        <div class="content-img__container">
            <img src="~/Content/asset/image/gt3.jpg" alt="" class="content-img__intro">
        </div>

    </div>
</div>