<div class="collection">
    <div class="sidebar-menu__wrap">
        <aside class="sidebar-menu">
            <ul class="sidebar-product">
                <li class="product-item active"><a href="#">Tất cả</a></li>
                <li class="product-item"><a href="#">Bánh kem</a></li>
                <li class="product-item"><a href="#">Bánh mì</a></li>
                <li class="product-item"><a href="#">Đồ uống</a></li>

            </ul>
        </aside>

    </div>
    <div class="menu-wrap">
        <h3 class="menu-item-title">Tất cả</h3>
        <div class="menu-container">
            <div class="menu-item">
                <div class="menu-item__image">
                    <a href="#"><img src="~/Content/asset/imgProducts/đen đá.jpg" alt=""></a>
                </div>
                <div class="menu-item__info">
                    <h3>
                        <a href="#">Bánh mì Cá Ngừ</a>
                    </h3>
                    <div class="price-product">
                        25.000đ
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <div class="menu-item__image">
                    <a href="#">
                        <img src="~/Content/asset/imgProducts/đen đá.jpg" alt="">
                    </a>
                </div>
                <div class="menu-item__info">
                    <h3>
                        <a href="#">Bánh mì Pate cay</a>
                    </h3>
                    <div class="price-product">
                        19.000đ
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <div class="menu-item__image">
                    <a href="#">
                        <img src="~/Content/asset/imgProducts/đen đá.jpg" alt="">
                    </a>
                </div>
                <div class="menu-item__info">
                    <h3>
                        <a href="#">Bánh mì Thịt Nguội</a>
                    </h3>
                    <div class="price-product">
                        30.000đ
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <div class="menu-item__image">
                        <img src="~/Content/asset/imgProducts/đen đá.jpg" alt="">
                </div>
                <div class="menu-item__info">
                    <h3>
                        <a href="#">Bánh Trứng Muối</a>
                    </h3>
                    <div class="price-product">
                        50.000đ
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <div class="menu-item__image">
                    <a href="#">
                        <img src="~/Content/asset/imgProducts/đen đá.jpg" alt="">
                    </a>
                </div>
                <div class="menu-item__info">
                    <h3>
                        <a href="#">Bánh Mousse Gấu</a>
                    </h3>
                    <div class="price-product">
                        78.000đ
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <div class="menu-item__image">
                    <a href="#">
                        <img src="~/Content/asset/imgProducts/đen đá.jpg" alt="">
                    </a>
                </div>
                <div class="menu-item__info">
                    <h3>
                        <a href="#">Bánh Red Velet</a>
                    </h3>
                    <div class="price-product">
                        35.000đ
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
