<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FantaFood</title>
    <link rel="stylesheet" href="~/Content/asset/main.css">
    <link rel="stylesheet" href="~/Content/asset/OwlCarousel2-2.3.4/docs/assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/asset/OwlCarousel2-2.3.4/docs/assets/owlcarousel/assets/owl.theme.default.min.css">
    <script src="https://kit.fontawesome.com/502650a7cc.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="page-container">
        <header id="header">
            <div class="logo-container">
                <a href="/Home/Index" class="logo-link">
                    <img src="~/Content/asset/image/logo.png" alt="logo" class="logo-img">
                </a>
            </div>
            <div class="menu-nav" style="margin-right: 40px;">
                <ul class="nav-list">
                    <li class="nav-item"><a href="/Home/Index">Trang chủ</a></li>
                    <li class="nav-item"><a href="/Home/About">Giới thiệu</a></li>
                    <li class="nav-item"><a href="/Home/Product">Sản phẩm</a></li>
                    <li class="nav-item"><a href="#">Tin tức</a></li>
                </ul>
            </div>
            <!-- <div class="header-option">
                <span class="btn-sign-in">Đăng nhập</span>
                <span class="btn-sign-up">Đăng ký</span>
            </div> -->
        </header>
        @RenderBody()

    </div>
  
    
</body>
</html>
